@model List<CategoryDto>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Silinenler /</span> Silinen Kategoriler
    </h4>

    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <table class="table table-bordered" id="categoriesTables" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>KATEGORİ ADI</th>
                        <th>OLUŞTURULMA TARİHİ</th>
                        <th>OLUŞTURAN</th>
                        <th>DURUM</th>
                        <th>İŞLEMLER </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <td title="@category.Name">@category.Name</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>@(category.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>
                                <a class="btn btn-success btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="UndoDelete" asp-route-categoryId="@category.Id"><i class="bx bx-undo"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id"><i class="bx bxs-minus-circle"></i></a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/categoryindex.js" type="application/ecmascript"></script>
}
