@model List<CategoryDto>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler
    </h4>

    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <div class="d-flex justify-content-end mb-3">
                <a class="btn btn btn-outline-dark mb-3" asp-area="Admin" asp-controller="Category" asp-action="Add">
                    Kategori Ekle <i class="bx bx-plus"></i>
                </a>
            </div>
            <table class="table table-bordered" id="categoriesTables" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>KATEGORİ ADI</th>
                        <th>OLUŞTURULMA TARİHİ</th>
                        <th>OLUŞTURAN</th>
                        <th>DURUM</th>
                        <th>İŞLEMLER </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <td title="@category.Name">@category.Name</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>@(category.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id"><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="SafeDelete" asp-route-categoryId="@category.Id"><i class="bx bxs-minus-circle"></i></a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/categoryindex.js" type="application/ecmascript"></script>
}


